$color-1: #660066;
$color-2: #800080;
$color-3: #be29ec;
$color-4: #d896ff;
$color-5: #efbbff;
$header-background: $color-2;
$header-font-color: #fff;
$header-nav-hover-background: $color-1;
$header-nav-hover-color: #fff;
$header-height: 48px;
$header-btn-login-background: $color-1;
$header-btn-login-color: #fff;
$header-btn-login-border-color: $header-btn-login-color;
$header-btn-login-hover-background: $color-3;
$header-btn-login-hover-color: #fff;
$header-btn-login-hover-border-color: $header-btn-login-hover-color;

	
	
	
	
