<div class="home">
    <div class="home-highlight">
        <div class="img-highlight-container">
            <img src="../../assets/arena.jpg" alt="">
        </div>
        <div class="img-highlight-container">
            <img src="../../assets/f30ed8_6003524.jpg" alt="">
        </div>
        <div class="img-highlight-container">
            <img src="../../assets/table.png" alt="">
        </div>
    </div>
    <div class="home-presentation">
        <h1>Leviathan's Childs</h1>
        <p>The game is very good!</p>
        <div class="play-now-container">
            <button>
                Play now
            </button>
        </div>
    </div>
</div>