@import "../../theme/variables";
@import "../../theme/mixins";

.my-dashboard {
  padding: 16px;
  position: relative;

  .btn-logout {
    width: 50px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 24px;
    @include btn-outline(rgba($color: $color-3, $alpha: 0.8));
  }
  .characters-subtitle{
    color: $color-3;
    text-align: center;
    margin-bottom: 16px;
    font-size: 12px;
  }
  .no-characters-msg{
    text-align: center;
    color: rgba($color: $color-4, $alpha: 0.4);
  }
  .profile-data {
    padding-bottom: 32px;

    .user-nick {
      h1 {
        font-size: 24px;
        margin-bottom: 16px;
        // color: $color-1;
        text-align: center;
      }
    }
    .user-data {
      p {
        text-align: center;
        // color: $color-1;
      }
    }
    .btn-ranking-container {
      .btn-ranking {
        padding: 4px 16px;
        border-radius: 24px;
        margin: 16px auto 0;
        display: block;
        @include btn-outline($color-3);
      }
    }
  }
}
