@import "../../theme/variables";

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: calc(100vh - #{$header-height});
  width: 100vw;

  .loader-container {
    width: 200px;
    height: 200px;
    margin: 16px auto;
  }

  .box-form-login {
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid $color-3;
    padding: 16px;
    background-color: $color-3;

    .tab-header {
      padding-bottom: 16px;

      .tab {
        display: flex;
        width: 100%;
        background-color: $color-3;
        border-bottom: 2px solid $color-3;

        .tab-item {
          height: 32px;
          border-radius: 4px;
          text-transform: uppercase;
          font-weight: bold;
          color: #fff;
          background-color: rgba(0, 0, 0, 0.24);
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding: 0 16px;
          &:first-child {
            margin-right: 4px;
          }
          &:hover {
            cursor: pointer;
            background-color: #fff;
            color: $color-2;
          }
        }
      }
    }
    .tab-body {
      min-height: 150px;
      background-color: #fff;
      border-radius: 8px;
    }
  }
}
