<div class="header">
    <div [routerLink]="['/home']" class="logo-container">
        <img src="../../assets/leviathan.png" alt="">
    </div>
    <div class="nav-menu-container">
        <ul class="nav-menu">
            <li [routerLink]="['/home']" class="menu-item">
                Leviathan's Childs
            </li>
        </ul>
    </div>
    <div id="teste" class="btn-login-container">
        <div class="btn-flex-container">
            <button *ngIf="getUserName() === 'Error'" (click)="toLogin()">Entrar</button>
            <button class="auto-nickname" *ngIf="getUserName() !== 'Error'" (click)="toMyDashboard()">{{ getUserName() }}</button>
        </div>
    </div>
</div>