<div class="header">
    <div class="logo-container">
        <img src="../../assets/leviathan.png" alt="">
    </div>
    <div class="nav-menu-container">
        <ul class="nav-menu">
            <li [routerLink]="['/home']" class="menu-item">
                Home
            </li>
            <li class="menu-item">
                O Jogo
            </li>
            <li class="menu-item">
                Sobre
            </li>
        </ul>
    </div>
    <div class="btn-login-container">
        <div class="btn-flex-container">
            <button (click)="toLogin()">Entrar</button>
        </div>
    </div>
</div>